<!DOCTYPE html>
<html>
<head>
	<title>Wislr</title>
	<%= stylesheet_link_tag    "application" %>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<style type="text/css"></style>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
<%= render "shared/footer" %>
<script type="text/javascript">
$(function() {

    $('.accordion').on('show', function (e) {
         $(e.target).prev('.accordion-heading').find('.accordion-toggle').addClass('active');
    });

    $('.accordion').on('hide', function (e) {
        $(this).find('.accordion-toggle').not($(e.target)).removeClass('active');
    });
});​
</script>
</html>
