<!DOCTYPE html>
<html>
<head>
	<title>Wislr</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<%= render "shared/header" %>
<body>
	<%= yield %>
</body>
<%= render "shared/footer" %>
<script type="text/javascript">
</script>
</html>
